#headerMotto{
    display:flex;
    align-self: center;
    justify-self: center;

    font-style: italic;
    color: #959595;

    margin-top:1%;
}

.mainBody{
    display: block;
    background: linear-gradient(to top, #d1d1d1, #adadad);
    width: 1600px;
    height:800px;
    border-radius: 10px;
    position: relative;

    align-self: center;
    justify-self: center;

    margin-top:20px;
}

#heroImage{
    position: absolute;
    bottom:0;
    right:0;

    height:108%;

    transform: translateY(10%);
    margin-right: -10%;
}

footer{
    display:flex;
    align-self: center;
    justify-self: center;

    font-style: italic;
    color: #959595;
    gap: 50px;
    margin-top: 20px;
}

.textBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;

    margin-left:10%;
}

.textBody{
    display: flex;
    justify-content: center;
    align-self: center;
    
    padding-top: 15%;
}

#mainTitle{
    margin:0;
    font-size: 100px;
}

#mainSubtitle{
    margin-top:-10px;
    font-size: 40px;
}

.pageCreate{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;

    width:700px;
    height:50px;
    border: solid 2px #acacac;
}

.createText{
    font-size:22px;
    font-style: italic;
    display: flex;
    position: relative;
    width: 700px;
}

.createText a{
    margin-left:25px;
    margin-right:25px;
}

#editableText{
    color:#adadad;
}

#redirectButton{
    border: none;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    background: none;

    position: absolute;
    right: 0;
    padding-right: 25px;
    margin-top: -12.5px;
    padding-left: 30px;

    border-left: solid 2px #acacac;

    height: 50px;
    z-index: 1;
}

#redirectButton:hover{
    background-color: #e3e3e379;
    cursor: pointer;

    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.instructionText{
    padding-top:4%;
    font-size: 22px;
}
